{% extends 'base.html.twig' %}

{% block title %}{{entreprise.nom}}{% endblock %}

{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Par Formations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Par Entreprises</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_ajoutEntreprise')}}">Ajouter une entreprise</a>
    </li>
    <li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_detail_entreprise',{'entreprise':entreprise.nom})}}"> {{entreprise.nom}}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_ajoutStage')}}">Ajouter un stage</a>
    </li>	
{% endblock %}

{% block titrePage %} 
	<div class="row" style="margin-bottom: 65px; margin-top: 65px">
		<div class="col-md-12">
			<h3 class="text-center">
				Entreprise {{entreprise.nom}}
			</h3>
		</div>
	</div>
{% endblock %} 
{% block body %}
  	  <div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<address>
						<strong>Adresse :</strong><br />{{entreprise.adresse}}<br />
					</address>
				</div>
				<div class="col-md-4">
					<strong>
						Activité principale de l'entreprise : 
					</strong> 
					<p>
						{{entreprise.activite}}
					</p>
				</div>
				<div class="col-md-4">
					<strong>
						Contact
					</strong>
					<p>
							<a href="{{entreprise.site}}">
								{{entreprise.site}}
							</a>
					</p>
				</div>
			</div>
		</div>
{% endblock %}