{% extends 'base.html.twig' %}

{% block title %}Stages par formation{% endblock %}

{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Formations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Entreprises</a>
	</li>
{% endblock %}

{% block titrePage %} Voici la liste des stages triés par formation : {% endblock %} 

{% block baliseTr %}
	<tr>
		<td>
			1
		</td>
		<td>
			Developpement d'une application avec Symfony
		</td>
		<td>
			<li type="square"> DUT Info </li>
			<li type="square"> LP Programmation avancée </li>
		</td>
		<td>
			Thalès  
		</td>
		<td>
			<a href="{{path('ProStages_detail_entreprise' , {'entreprise': 'Thalès'})}}">
				Sur l'entreprise 
			</a>
			<br>
			<a href="{{path('ProStages_stageAvecId',{'id':1})}}">
				Sur le stage 
			</a>
		</td>
	</tr>
{% endblock %}

