{% extends 'base.html.twig' %}

{% block title %}Ajout d'une entreprise{% endblock %}

{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Par Formations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Par Entreprises</a>
    </li>
    <li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_ajoutEntreprise')}}">Ajouter une entreprise</a>
    </li>
    
{% endblock %}

{% block titrePage %} Ajout d'une nouvelle entreprise {% endblock %} 

{% block affichageTab %}  {% endblock %} 

{% block baliseTr %} 
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			{{ form_start (vueFormulaireAjout) }}
				<div>
						{{ form_label (vueFormulaireAjout.nom) }} 
						{{ form_errors (vueFormulaireAjout.nom) }}
				<br> 
						{{ form_widget (vueFormulaireAjout.nom, {'attr':{'placeholder':"Nom de l'entreprise"}}) }} 
				</div>
				<br>
				<div>
						{{ form_label (vueFormulaireAjout.activite) }} 
						{{ form_errors (vueFormulaireAjout.activite) }} 
				<br>
						{{ form_widget (vueFormulaireAjout.activite, {'attr':{'placeholder':"Activité de l'entreprise"}}) }} 
				</div>
				<br>
				<div>
						{{ form_label (vueFormulaireAjout.adresse) }} 
						{{ form_errors (vueFormulaireAjout.adresse) }}
				<br> 
						{{ form_widget (vueFormulaireAjout.adresse, {'attr':{'placeholder':"Adresse de l'entreprise"}}) }} 
				</div>
				<br>
				<div>
						{{ form_label (vueFormulaireAjout.site) }} 
						{{ form_errors (vueFormulaireAjout.site) }} 
				<br>
						{{ form_widget (vueFormulaireAjout.site, {'attr':{'placeholder':"Lien du site de l'entreprise"}}) }} 
					
				</div>
				<br>
				<div>
					<button type="submit" class="btn btn-success">Ajouter</button>
				</div>
			{{ form_end (vueFormulaireAjout) }}        

		</div>
	</div>
</div>
{% endblock %}