{% extends 'base.html.twig' %}

{% block title %}Stages avec ID{% endblock %}
{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Par Formations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Par Entreprises</a>
	</li>
    <li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_stageAvecId',{'id': id})}}">Stage n°{{id}}</a>
	</li>

{% endblock %}

{% block titrePage %}
	<div class="row" style="margin-bottom: 65px;">
		<div class="col-md-12">
			<h3 class="text-center">
				{{stage.titre}}
			</h3>
		</div>
	</div>
{% endblock %} 

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h2>
					Description du stage :
				</h2>
				<p>
					{{stage.Description}}			
				</p>	
			</div>
			<div class="col-md-4">
				<h2>
					Formations concernées : 
				</h2>
				<p>
				{% for formation in stage.formations %}
					<li type="square"> {{formation.libelle}}  </li>
				{% endfor %}
				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Entreprise
				</h2>
				<p>
					<a class="nav-link" href="{{path('ProStages_detail_entreprise' , {'entreprise': stage.entreprise.nom})}}"> {{stage.entreprise.nom}} </a>
				</p>
			</div>
		</div>
		<div class="row" style="margin-top: 165px;">
			<div class="col-md-12">
				<h2>
					Contact
				</h2>
				<p>
					{{stage.mail}}			
				</p>
			</div>
		</div>
	</div>
{% endblock %}

