{% extends 'base.html.twig' %}

{% block title %}Stages par entreprise{% endblock %}

{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Par Formations</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Par Entreprises</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_ajoutEntreprise')}}">Ajouter une entreprise</a>
    </li>
{% endblock %}

{% block titrePage %} Voici la liste des stages pour l'entreprise demandée : {% endblock %} 

{% block affichageTab %}
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Titre
			</th>
			<th>
				Entreprise
			</th>
			<th>
				Pour plus d'informations
			</th>
		</tr>
	</thead>
{% endblock %} 

{% block baliseTr %}
	{% for stage in listeStages %}
	<tr>
		<td>
			{{stage.id}}
		</td>
		<td>
			{{stage.titre}}
		</td>
		<td>
			{{stage.entreprise.nom}}  
		</td>
		<td>
			<a href="{{path('ProStages_detail_entreprise' , {'entreprise': stage.entreprise.nom})}}">
				Sur l'entreprise 
			</a>
			<br>
			<a href="{{path('ProStages_stageAvecId',{'id':stage.id})}}">
				Sur le stage 
			</a>
		</td>
	</tr>
	{% endfor %}
{% endblock %}

