{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Par Formations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Par Entreprises</a>
	</li>
{% endblock %}

{% block titrePage %} Voici la liste des formations : {% endblock %} 

{% block affichageTab %}
	<thead>
		<tr>
			<th>
				Libellé
			</th>
			<th>
				Nom complet
			</th>
			<th>
				<!-- //Vide volontaire pour affichage plus propre-->
			</th>
		</tr>
	</thead>
{% endblock %} 

{% block baliseTr %}
	{% for formation in listeFormation %}
	<tr>
		<td>
			{{formation.libelle}}
		</td>
		<td>
			{{formation.nomComplet}}
		</td>
		<td>
			<a class="nav-link" href="{{path('ProStages_stageParFormation', {'idFormation' : formation.id})}}">Liste des stages</a>
		</td>
	</tr>
	{% endfor %}
{% endblock %}

