{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block pageActive %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_acceuil')}}">Accueil<span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('ProStages_formations')}}">Par Formations</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{{path('ProStages_entreprises')}}">Par Entreprises</a>
	</li>
{% endblock %}

{% block titrePage %} Voici la liste des entreprises : {% endblock %} 

{% block affichageTab %}
	<thead>
		<tr>
			<th>
				Nom
			</th>
			<th>
				Activité
			</th>
			<th>
				Adresse
			</th>
			<th>
				Site
			</th>
			<th>
				<!-- //Vide volontaire pour affichage plus propre-->
			</th>
		</tr>
	</thead>
{% endblock %} 

{% block baliseTr %}
	{% for entreprise in listeEntreprise %}
	<tr>
		<td>
			{{entreprise.nom}}
		</td>
		<td>
			{{entreprise.activite}}
		</td>
		<td>
			{{entreprise.adresse}}
		</td>
		<td>
			<a href="{{entreprise.site}}">
				{{entreprise.site}}
			</a>
		</td>
		<td>
			<a class="nav-link" href="{{path('ProStages_stagesParEntreprise', {'idEntreprise' : entreprise.id})}}">Liste des stages</a>
		</td>
	</tr>
	{% endfor %}
{% endblock %}

